<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= @name_and_surname %></title>
</head>
<body>
<div>
  <h1><%= @name_and_surname %></h1>
  <h2><%= @job_title%></h2>
  <img src= <%= @url_img%> alt= <%= @name_and_surname%>>
</div>
<div>
  <h3>Номер телефона:</h3>
  <ul>
    <p><%= @phone %></p>
  </ul>
</div>
<div>
  <h3>Почта:</h3>
  <ul>
    <p><%= @email%></p>
  </ul>
</div>
</body>
</html>

